@tailwind base;
@tailwind components;
@tailwind utilities;


.marker {
  /* background-image: url('../../public/marker.svg'); */
  background-image: url('../../public/mapbox-marker-icon-20px-gray.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#article{
  animation-delay: 3s;
  animation: scrolling 480s .1s linear 1;
}
#article:hover,
#article:focus,
#article:active{
  animation-play-state: paused;
}


@keyframes scrolling {
  from { top: 0; transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, -100%, 0); }
}